<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MEaJuda</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="../../static/css/vendors/bootstrap5/bootstrap.min.css" th:href="@{/css/vendors/bootstrap5/bootstrap.min.css}" />

<!-- Bootstrap Icons -->
<link rel="stylesheet" type="text/css" href="../../static/css/vendors/bootstrap5/bootstrap-icons.css" th:href="@{/css/vendors/bootstrap5/bootstrap-icons.css}" />

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="../../static/css/styleindex.css" th:href="@{/css/styleindex.css}">
</head>
<body>

	<header class="cabecario">
		<div class="retangulo1">
			<ul class="navbar-nav">
				<li>
					<span class="logo">
						<a class="nav-link" th:href="@{/}" href="#">MEaJuda</a>
					</span>
				</li>
				<li class="topbar dropdown">
					<a class="item1 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"> EJs </a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" th:href="@{/ej/abrircadastrar}">Cadastrar</a>
						</li>
						<li>
							<a class="dropdown-item" th:href="@{/ej/pesquisar}">Catálogo</a>
						</li>
					</ul>
				</li>
				<li>
					<span class="item2">
						<a class="nav-link" th:href="@{/post/listar}">Feed</a>
					</span>
				</li>
				<li>
					<div class="logar" sec:authorize="!isAuthenticated()">
						<form th:action="@{/login}" method="get">
							<button type="submit" class="botaologar">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right login" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                  </svg>
							</button>
						</form>
					</div>

					<div class="logar" sec:authorize="isAuthenticated()">

						<form action="#" th:action="@{/logout}" method="post">
							<button type="submit" class="botaologar">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left login" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
  <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
</svg>
							</button>
						</form>
					</div>
				</li>
			</ul>
		</div>
	</header>

	<main class="mt-5 p-5 pt-5">
		<div class="postar" sec:authorize="hasRole('ROLE_CLIENTE')">
			<button type="submit" class="btn botaopost mt-5">
				<a th:href="@{/post/abrircadastrar}" class="nav-link">Novo Post</a>
			</button>
		</div>

		<div class="postar" sec:authorize="hasRole('ROLE_ADMIN')">
			<button type="submit" class="btn botaorelatorio mt-5">
				<a th:href="@{/relatorio}" class="nav-link">Gerar Relátorio - Propostas Fechadas</a>
			</button>
		</div>

		<div class="row" th:each="post : ${pagina.conteudo}">
			<div class="col-md-12 mb-3 mt-4 tabela">
				<table class="post">
					<tr class="titulotab">
						<td>
							<div class="userbox">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle user" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
              </svg>
							</div>
							<p class="nomeuser" th:if="${post.cliente.id == 3}">Maria Silva</p>
							<p class="nomeuser" th:if="${post.cliente.id == 4}">João Pereira</p>
							<p class="nomeuser" th:if="${post.cliente.id == 5}">Luana Souza</p>
							<p class="nomecat" th:text="${post.categoria.getDescricao()}">Categoria</p>
						</td>
					</tr>

					<tr>
						<p class="datapost" th:text="${#temporals.format(post.dataHora, 'dd-MM-yyyy HH:mm')}">19/12/2022</p>
					</tr>

					<tr>
						<td class="despost" th:text="${post.descricao}">
						<p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus sodales ligula ac blandit. Mauris ut placerat velit, non rhoncus urna. Curabitur semper sit amet ex non pulvinar. Nulla nec erat tempor, sollicitudin dolor non, aliquam metus. Donec fermentum
								lectus eget enim volutpat lacinia. Sed fringilla volutpat erat, a convallis elit lobortis a. Proin pellentesque sodales ipsum et interdum.</p>
						</td>
					</tr>
					

					
					<tr sec:authorize="hasRole('ROLE_EJ')">
						<td class="proposta">
							<form th:action="@{/proposta/abrircadastrar}" method="get">
								<input type="hidden" name="id" th:value="${post.id}">
								<button type="submit" id="botaoProposta" class="btn  botao">Fazer Proposta</button>
							</form>
						</td>
					</tr>
					<tr sec:authorize="hasRole('ROLE_CLIENTE')">
						<td class="proposta">
							<form th:action="@{/proposta/listar}" method="get">
								<input type="hidden" name="id" th:value="${post.id}">
								<button type="submit" id="botaoProposta" class="btn  botao"
									<!-- data-bs-toggle="modal" data-bs-target="#staticBackdrop" -->
									Ver Propostas
								</button>
							</form>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div th:replace="~{layout/fragments/paginacao :: paginacao(${pagina})}"></div>
	</main>

	<script src="../../static/js/vendors/bootstrap5/bootstrap.bundle.min.js" th:src="@{/js/vendors/bootstrap5/bootstrap.bundle.min.js}"></script>
</body>
</html>