.cabecario{
    position: absolute;
    width: 100%;
    height: 90px;
    left: 0px;
    top: 0px;
    margin-bottom: 30px;
}

.retangulo1{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #7800A3;
}

.logo{
    position: absolute;
    left: 5%;
    right: 90%;
    top: 20%;
    bottom: 29.26%;

    font-family: 'Courier Prime', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 54px;

    color: #FFFFFF;
}

.logar{
    position: absolute;
    left: 87%;
    right: 12.5%;
    top: 32%;
    bottom: 8.33%;
    width: 65px;
}

.item2{
    position: absolute;
    left: 80%;
    right: 10%;
    top: 35%;
    bottom: 12.21%;

    font-family: 'Courier Prime', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;

    color: #FFFFFF;
}

.item2:hover{
    color: #ffffffa8;
}

.topbar{
    position: absolute;
    left: 20%;
    right: 5.88%;
    top: 20%;
    bottom: 12.21%;

}

.item1{
    position: absolute;
    left: 70%;
    right: 5.88%;
    top: 35%;
    bottom: 12.21%;

    font-family: 'Courier Prime', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-decoration: none;

    color: #FFFFFF;
}

.item1:hover{
    color: #ffffffa8;
}

.login{
    height: 30px;
    width: 30px;
    left: 3px;
    top: 3px;
    border-radius: 0px;
    color: #FFFFFF;
}

.login:hover{
    color: #ffffffa8;
}

.carrosel{
    width: 400px;
    height: 400px;
}

.grade{
    padding-top: 150px;
    
}

.rodape{
   
    width: 100%;
    height: 100px;
    position: relative;
    bottom: 0;
    background: #7800A3;
}

footer {
    position: fixed;
    bottom:0;
    left:0;
}


.redes{
    position: absolute;
    left: 2%;
    right: 82.5%;
    top: 20%;
    bottom: 57.43%;

    font-family: 'Courier Prime', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;

    color: #FFFFFF;
}

.contato{
    position: absolute;
    left: 82.15%;
    right: 2%;
    top: 20%;
    bottom: 29.73%;

    

    font-family: 'Courier Prime', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: right;

    color: #FFFFFF;
}

.contatos{
    position: absolute;
    left: 82.15%;
    right: 2%;
    top: 40%;
    bottom: 29.73%;

    

    font-family: 'Courier Prime', sans-serif;
    font-style: normal;
    
    font-size: 18px;
    line-height: 22px;
    text-align: right;

    color: #FFFFFF;
}

.rede1{
    height: 30px;
    width: 30px;
    border-radius: 0px;

    position: absolute;
    left: 2%;
    right: 8.33%;
    top: 50%;
    bottom: 8.5%;

    color: #FFFFFF;
}

.rede2{
    height: 30px;
    width: 30px;
    border-radius: 0px;

    position: absolute;
    left: 5%;
    right: 8.33%;
    top: 40%;
    bottom: 8.5%;

    color: #FFFFFF;
}

.rede3{
    height: 30px;
    width: 30px;
    border-radius: 0px;

    position: absolute;
    left: 8%;
    right: 8.33%;
    top: 40%;
    bottom: 8.5%;

    color: #FFFFFF;
}

.rede1:hover{
    color: #ffffffa8;
}
.rede2:hover{
    color: #ffffffa8;
}
.rede3:hover{
    color: #ffffffa8;
}

.principal{
    position: absolute;
    left: 8%;
    right: 8.33%;
    top: 20%;
    bottom: 8.5%;
}

.retangulo10{
    box-sizing: border-box;

    position: absolute;
    left: 8%;
    right: 8.33%;
    top: 4%;
    bottom: 10%;
    width: 364px;
    height: 34px;
    

    background: #FFFFFF;
    border: 1px solid #7800A3;
    border-radius: 10px;
}

.input-group{
    width: 364px;
}

.form-control{
    border: 1px solid #7800A3;
    border-radius: 10px;
}

.form-select{
    border: 1px solid #7800A3;
    border-radius: 10px;
    
}

.btn{
    border: 1px solid #7800A3;
    border-radius: 10px;
}

.botaologar{
    background-color: #7800A3;
    border: 1px solid #7800A3;
    border-radius: 10px;
}

.pesquisa{
    color:#7800A3;
}

.check1{
    position: absolute;
    left: 25%;
    right: 8.33%;
    top: 4%;
    bottom: 93%;
    color: #6D6D6D;
    background-color: #6D6D6D;
}

.check2{
    position: absolute;
    left: 45%;
    right: 8.33%;
    top: 4%;
    bottom: 93%;
    color: #6D6D6D;
    background-color: #6D6D6D;
}

.check3{
    position: absolute;
    left: 65%;
    right: 8.33%;
    top: 4%;
    bottom: 93%;
    color: #6D6D6D;
    background-color: #6D6D6D;
}

.textcheck1{
    position: absolute;
    left: 60%;
    right: 8.33%;
    top: 3.5%;
    bottom: 10%;
    width: 87px;
    height: 18px;
    

    font-family: 'Courier Prime', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height */

    color: #6D6D6D;
}

.textcheck2{
    position: absolute;
    left: 70%;
    right: 8.33%;
    top: 3.5%;
    bottom: 10%;
    width: 87px;
    height: 18px;
    

    font-family: 'Courier Prime', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height */

    color: #6D6D6D;
}

.textcheck3{
    position: absolute;
    left: 80%;
    right: 8.33%;
    top: 3.5%;
    bottom: 10%;
    width: 87px;
    height: 18px;
    

    font-family: 'Courier Prime', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height */

    color: #6D6D6D;
}

.botaoexclui{
    
    border: 1px solid #7800A3;
    border-radius: 10px;
}

.botaoedit{
    
    border: 1px solid #7800A3;
    border-radius: 10px;
}

.botaover{
    
    border: 1px solid #7800A3;
    border-radius: 10px;
}

.botao{

    color: #FFFFFF;
    background-color: #7800A3;
}

.titulo{
    font-family: 'Courier Prime', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    /* identical to box height */
    text-align: center;
    padding: 10px;


    color: #7800A3;
}

.container1{
    border: 1px solid #7800A3;
    border-radius: 10px;
    padding: 20px;
}

.container2{
    border: 1px solid #7800A3;
    border-radius: 40px;
    height: 200px;
    width: 200px;

}

.imglogo{
    height: 150px; 
    width: 150px; 
    position: absolute;
    left: 10%;
    top: 15%;
}

.quadrado1{
    position: absolute;
    left: 50%;
    top: 30%;
    width: 570px;
}

.quadrado2{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 570px;
}

.tabela{
    border: 1px solid #7800A3;
    border-radius: 20px;
    padding: 15px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.titulotab{
    margin: 10px;
    padding: 10px;
    
}

.user{
    color: #7800A3;
    height: 30px;
    width: 30px;
}

.userbox{
    height: 32px;
    width: 32px;
    margin: 0px;
}

.post{
    border-collapse: separate;
    border-spacing: 20px 10px;
}

.nomeuser{
    color: #7800A3;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;  
}

.nomecat{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height */

    color: #6D6D6D;

    margin: 0px;
}

.cat{
    color: #7800A3;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    
   
}

.despost{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.datapost{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height */

    color: #6D6D6D;
}

.proposta{
    padding-left: 300px;
    padding-right: 10px;
    
}

.desc{
    margin: 10px 5px 20px 5px;
    width: 700px;
}
.botaopost{
    color: #FFFFFF;
    background-color: #7800A3;
    width: 150px;
    padding: auto;
}


.botaorelatorio{
    color: #FFFFFF;
    background-color: #7800A3;

    padding: auto;
}

.boxprincipal{
    background: #ddaafa; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #ddaafa 0%, #7800A3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ddaafa), color-stop(100%,#7800A3)); /* Chrome,Safari4+ */ 
  background: -webkit-linear-gradient(-45deg,  #ddaafa 0%,#7800A3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #ddaafa 0%,#7800A3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #ddaafa 0%,#7800A3 100%); /* IE10+ */
  background: linear-gradient(135deg,  #ddaafa 0%,#7800A3 100%); /* W3C */ 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddaafa', endColorstr='#7800A3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  background-attachment: fixed;
}

.box1{
    border-radius: 40px;
    background-color: #FFFFFF;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    width: 400px;
    height: 400px;
}

.box2{
    margin-top: 50px;
    padding-top: 50px ;
}

.titulologin{
    color: #7800A3;
    margin-left: 135px;
    margin-right: auto;
    padding: 10px;
    
}

.botaologin{
    color: #FFFFFF;
    background-color: #7800A3;
    width: 200px;
    margin-left: 100px;
    margin-right: auto;
    margin-top: 40px;
}

.botaologin:hover{
    border: 1px solid #7800A3;
    border-radius: 10px;
    color: black;
}

.titulologar{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height */

    color: #6D6D6D;
}

.erros{
    width: 500px;
    height: 500px;
}

.carroselitem{
    width: 500px;
    height: 600px;
}

.teste{
    width: 600px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
}

.tituloprop{
    font-family: 'Courier Prime', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    /* identical to box height */
    text-align: center;
    padding: 10px;


    color:#6D6D6D;
}

.containerprop{
    border: 1px solid #7800A3;
    border-radius: 20px;
    width: 400px;
}